{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="height: 100%;">
<div>
    <div class="shadow-sm">
        <div class="container py-2">
            <div class="row justify-content-between">
                <div class="col-2 h2" style="color: #00A88E;">Antivirus</div>
                <div class="col d-flex justify-content-end">

                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1"
                         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalScrollableTitle">
                                        История проверок
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Название файла</th>
                                            <th scope="col">Дата</th>
                                            <th scope="col">Статус</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for queue in queue_history %}
                                            <tr>
                                                <th scope="row" class="col-7" style="max-width: 350px;">
                                                    <a href="{% url 'result' result_id=queue.uniq_id %}">
                                                        {% if queue.file_url %}
                                                            {{ queue.file_url }}
                                                        {% else %}
                                                            {{ queue.file_name }}
                                                        {% endif %}
                                                    </a>
                                                </th>
                                                <td>{{ queue.created_at_loc }}</td>
                                                <td>
                                                    {% if queue.is_scanned == False %}
                                                        <div class="spinner-border text-primary" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>
                                                    {% else %}
                                                        {% if queue.is_infected %}
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="0 0 24 24"
                                                                 fill="red"
                                                                 style="height: 25px; width: 25px;"
                                                            >
                                                                <path fill-rule="evenodd"
                                                                      d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                                                      clip-rule="evenodd"/>
                                                            </svg>
                                                        {% else %}
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 viewBox="0 0 24 24"
                                                                 fill="green"
                                                                 class="w-6 h-6"
                                                                 style="height: 25px; width: 25px;"
                                                            >
                                                                <path fill-rule="evenodd"
                                                                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                                                      clip-rule="evenodd"/>
                                                            </svg>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                            type="button"
                            class="btn btn-outline-success border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalScrollable">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" style="width: 25px; height: 25px;">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        История проверок
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row" style="padding: 80px 0;">
            <div class="col h2" style="text-align: center">
                Онлайн <span style="color: #00A88E; font-weight: bold;">антивирус</span>, с глубоким сканированием
                файлов
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Отправьте ссылку для сканирования</label>
                    <input class="form-control"
                           type="text"
                           id="formFile"
                           name="file_url"
                           placeholder="https://site.ru/my_file.zip"
                    >
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Отправьте файл для сканирования</label>
                    <input class="form-control"
                           type="file"
                           id="formFile"
                           name="file_data"
                    >
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-1"></div>
            <div class="col">
                Сканируя файлы, <span style="font-weight:bold; color: #00A88E; margin: 0 10px;"> вы даете добро на хранение и обработку</span>
                загруженных файлов. Сервис не предоставляет ваши файлы третьим сторонам. Ваши файлы будут загружены на
                дисковое пространство сервиса, и обработаны! После проверки файлы будут удалены!
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row mt-2">
            <div class="col" style="display: flex; justify-content: center;">
                <input type="submit" class="btn btn-lg btn-outline-primary" value="Сканировать"/>
            </div>

        </div>

    </div>
</form>


<div class="mt-5 py-4" style="position:absolute; bottom:0; background-color: #00A88E; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col text-white">
                Антивирусное ПО
            </div>
            <div class="col d-flex justify-content-end text-white">
                © Все права защищены. 2023 NUKUS
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>